<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>APIs</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static', filename='css/code.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>API List</h1>
        {% for key, value in data.items() %}
            <details>
                <summary><a href="/api/{{ key }}">{{ key }}</a></summary>
                <pre><code>
{{ value }}
                </code></pre>
            </details>
        {% endfor %}
    </body>
</html>
