[[source]]
name = "pypi"
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
ipython = "*"
requests = "*"
psycopg2 = "*"
faker = "*"
fire = "*"
tqdm = "*"
retrying = "*"

[requires]
python_version = "3.7"
